.icono-imagen1 {
  width: 150px;
  height: 150px;
}
.icono-imagen2 {
  width: 150px;
  height: 150px;
}
.border-prot1-verde {
  background-color: rgb(55, 158, 124);
  
}
.border-prot1-azul {
  background-color: rgb(65, 145, 192);
  
}

.margen-imagen{
    border-radius: 10px;
    width: 300px;
    text-align: center;
}

p {
  text-align: justify;
  padding: 10px;
}

.caja {
  margin-top: 100px;
  margin-left: 500px;
  margin-right: 500px;
}

td{
    border: 1px solid black;
    
}

.td-plomo{
    background-color: rgb(235, 234, 234);
}


